<h1>Inbox</h1>

<% if @messages %>
  <% @messages.each do |message| %>
    <% next unless message.root? %>
    <div class="message">
      <% if @unread_messages.include?(message) %><div>(unread)</div><% end %>
      <div>From: <%= User.find(message.sender_id).email %></div>
      <div>Body: <%= message.body %></div>
      <%= link_to "View Thread", message_path(message) %>
    </div>
  <% end %>
<% else %>
  <div>You have no messages</div>
<% end %>